@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");

:root {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

body {
  max-width: 1440px;
}
